.comment-main{
  width: 100%;
  height: 90vh;
  background-color: #FFFAFA;
  display: flex;
  justify-content: center;
}

.comment-wrap{
  width: 50%;
  height: 100%;
  background-color: white;
  overflow: auto;
}

.comment-tweet-message{
  font-size: 18px;
}

.like-count{
  display: flex;
 align-items: center; 
}

.comment-send-main{
  font-weight: bold;
}

.tweet-like{
  margin-right: 5px;
}
.like-main{
  margin-left: 10px;
}
.comment-lists{
  width: 100%;
  height: 10%;
  margin-top: 10px;
  padding: 0 20px;
}

.user-nickname{
  color: #666666;
  margin-right: 20px;
  font-size: 16px;
}

.comment-text{
  color: #333333;
}
.comment-update{
  color: #666666;
  font-size: 12px;
}