 <% if current_user&.like?(@tweet)  %>
    <span><%= link_to image_tag("star.png"),tweet_like_path(tweet_id: @tweet, id: current_user.likes.find_by(tweet_id: @tweet)), method: :delete, class:'item-like',remote: true  %><%= @tweet.likes.count %></span>
  
<% else %>
    <span><%= link_to image_tag("star.png"),tweet_likes_path(@tweet), method: :post,  remote: true %><%= @tweet.likes.count %></span>
<% end %>

  
    
        